doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/docs.css')
    link(rel='stylesheet', href='/css/global.css')
    meta(charset="utf-8")
    meta(name="keywords", content="2d, top-down-shooter, arcade, multiplayer, websockets, assignment")
    meta(name="author", content="Jacob Schneider")

  body
    .wrapper
      header
        h1(onclick="window.location.href= '/docs'")
          b.indent Docs

        nav
          a(href="/") Home
          a(href="/docs/index") Docs Index
          a(href="/docs/search") Search

          form(action="/docs/search", method="get")
            input(type="search", name="query", placeholder="Search the documentation")
            button(type="submit") Search

      article.content
        block content
      include ../discover.pug
      include ../footer.pug
