footer.footer
  .credits
    h3 Credits: 
    div
      b Lead Developer: 
      br 
      | Jacob Schneider
    div
      b Idea Contribution: 
      br
      br
      ul
        li Casurina West
        li Avalon Gonzales
        li Finnian Wolfe-McCoulugh
        li Kia McHugh
        li Jacob Schneider
        li Jordan Jantschulev
        li Sophie Paskin
    br
    div
      b Other Credits
      br
      br
      ul
        li Atom.io
        li Chrome
        li Electron.js
        li Express.js
        li GitHub
        li Node.js
        li No-ip.com
        li Pug.js
        li p5.js
        li Socket.io
