footer.footer
  .credits
    h3 Credits: 
    div
      b Lead Developer: 
      br 
      | Jacob Schneider
      br
      b Development Advisor:
      br
      | Tristam Horn
    div
      b Idea Contribution: 
      br
      br
      ul
        li Casuarina West
        li Avalon Gonzales
        li Finnian Wolfe-McCoulugh
        li Kia McHugh
        li IzziWizzy (Isaac Schneider)
        li Jacob Schneider
        li Jordan Jantschulev
        li Sophie Paskin
    br
    div
      b Other Credits
      br
      br
      ul
        li Atom.io
        li Chrome
        //-li Electron.js
        li Express.js
        li Firefox
        li GitHub
        li GitHub Desktop
        li Git Bash
        li Git
        li Node.js
        //-li No-ip.com
        li Pug.js
        li p5.js
        li Socket.io

footer.footer2
  span(style="float: left; margin-left: 20px;") ⚠ 
  span(style="margin-left: 50px; margin-right: 50px;") This project is property of Jacob Schneider.
  span(style="float: right; margin-right: 70px;") ⚠ 
