doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/global.css')
    link(rel="stylesheet", href="/css/master.css")  
    link(rel="stylesheet", href="/css/photoviewer.css")      
    link(rel="stylesheet", href="https://www.canva.com/learn/wp-content/themes/canva/stylesheets/fonts/lora.css", media="all")  
    meta(charset="utf-8")
    meta(name="keywords", content="2d, top-down-shooter, arcade, multiplayer, websockets, assignment")
    meta(name="author", content="Jacob Schneider")

  body
    section.wrapper
      header
        b(onclick="window.location.href='/'").indent=title
          
        nav
          a(href="/game") Game
          a(href="/about") About
          a(href="/notes") Leave notes
          a(href="/docs") Docs
      //- .content
      include ./discover.pug
      block content
      include ./footer.pug
      
