doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/global.css')
    link(rel="stylesheet", href="/css/index.css")      
    meta(charset="utf-8")
    meta(name="keywords", content="2d, top-down-shooter, arcade, multiplayer, websockets, assignment")
    meta(name="author", content="Jacob Schneider")

    //- script(src="lib/socket.io.js")
    //- script(src="lib/p5.js")
    
    //- script socket = io.connect(`${window.location.hostname}:` + "#{port}")
    //- script window.addEventListener("keydown", e => {e.keyCode == 116?window.location.reload():null})

  body
    section.wrapper
      header
        b(onclick="window.location.href='/'").indent=title
          
        nav
          a(href="/game") Game
          a(href="/about") About
          a(href="/notes") Leave notes
          
      include ./discover.pug
      
      block content
      include ./footer.pug
      
